
header {
display: flex;
justify-content: space-between;
font-size: 20px;
}

.logo {
  font-weight: bolder;
  /* margin-left: 30px; */
  color: black;

 

}

/* .links {
  display: flex;
  justify-content: space-;
  
  
} */

.ledimage {
  width:250px;
  height: auto;
  object-fit: cover;
  margin-bottom: 60px;
  margin-right: 50px;
  vertical-align: baseline;

  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  
  
}

.description {
  margin-left: 30px;
}

.descriptionheader {
  /* margin-top: 70px; */
  font-size: 25px;
  margin-left: 30px;
  
  /* display: flex; */
}

.descriptiontext {
  display: flex;
  text-align: left;
  font-size: 15px;
  margin-bottom: 70px;
  /* margin-left: 100px; */
  
  /* background-color: #6f8e88; */

  

} 

.container {
  background-color: #6f8e88;
}

.informationheader {
  /* background-color: #f8f3ef; */
  text-align: center;
}

.information {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: #f8f3ef; */
} 

.resize {
  /* display: flex; */
  width: 150px;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  
  
}


h2 {
  font-size: 30px;
}

div.item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 150px;
 
}

.caption {
  display: block;
  font-size: 12px;
}

.howitworks {
  background-color: #D3e3d6;
  /* text-align: center; */
 
  
  
}

.howitworksheader {
  font-size: 25px;
  text-align: center;
  margin-top: 40px;
  
}

.howitworkstext {
  font-size: 15px;
  padding: 25px;
  text-align: center;

}

.bottom {
  background-color: #f8f3ef;
  text-align: center;
}

.footer {
  background-color: #6f8e88;
}

body {

  font-family: "Urbanist", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;




  /* font-family: "Bodoni Moda", serif; */
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}